{% extends 'base.html' %}

{% block head %}{% endblock %}

{% block title %} Bienvenue {% endblock %}

{% block body %}
<div class="row">
  <div class="card" style="width: 18rem; margin: 10px;">
    <img src="https://adn.thorvicnet.repl.co/static/images/userlex.png" class="card-img-top" alt="img-alex">
    <div class="card-body">
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><p class="card-text">Alexandre Lisiecki</p></li>
        <li class="list-group-item">Instagram : @alex.netc</li>
      </ul>
    </div>
  </div>
  <div class="card" style="width: 18rem; margin: 10px;">
    <img src="https://scontent-cdg2-1.cdninstagram.com/v/t51.2885-19/330180784_192942456753114_5163097609679357130_n.jpg?stp=dst-jpg_s150x150&_nc_ht=scontent-cdg2-1.cdninstagram.com&_nc_cat=106&_nc_ohc=NzkxH-S_p9gAX_OYK59&edm=ACWDqb8BAAAA&ccb=7-5&oh=00_AfBuvRJyg5RFqcZ1DGpiLT15Z1qvlpqxnL98eJK24nudoA&oe=642FA2B9&_nc_sid=1527a3" class="card-img-top" alt="img-marie">
    <div class="card-body">
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><p class="card-text">Marie Heitz</p></li>
        <li class="list-group-item">Instagram : @marie__htz</li>
      </ul>
    </div>
  </div>
  <div class="card" style="width: 18rem; margin: 10px;">
    <img src="https://scontent-cdg2-1.cdninstagram.com/v/t51.2885-19/336255694_569499888578886_910993268488025756_n.jpg?stp=dst-jpg_s150x150&_nc_ht=scontent-cdg2-1.cdninstagram.com&_nc_cat=106&_nc_ohc=kHlgMREArNoAX88ZiX3&edm=ACWDqb8BAAAA&ccb=7-5&oh=00_AfBpOUXqvw0MZMLVPgLef8ghN2g3QTRz9_pbRPScxdRHFw&oe=642E681B&_nc_sid=1527a3" class="card-img-top" alt="img-maceo">
    <div class="card-body">
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><p class="card-text">Macéo Chalons</p></li>
        <li class="list-group-item">Instagram : @maceo__ch</li>
      </ul>
    </div>
  </div>
</div>
{% endblock %}