<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Technovation Journal - Bienvenue</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
<!-- CSS pour implementer des icones  -->
    <link rel="stylesheet" href="https://kit.fontawesome.com/2a4e5e0bd5.css" crossorigin="anonymous">
    <!-- referencement de notre fichier css  -->
    <link rel="stylesheet" href="static/welcome.css" type="text/css">    
  <!-- cette balise link sert à importer le css pour bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  </head>
  <body class="welcomebody" style="background-color: black;">
<!--   <div class="centered">
    <h1 class="display-1 mainT">TechNovation</h1>

    <h1 class="display-4 secT">Journal</h1>
  </div> -->

    <div class="container">
      <span>TechNovation</span>
    </div>
    <div class="mainButton">
      <a href="/home" class="neonButton">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        Accéder au site
    </a>
    </div>
    
  
    <!-- wrapper -->
      <div class="wrapper">
            <canvas id="bg-animation"></canvas>

            <script type='text/javascript' src='//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js?ver=1.9.1'></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.0/TweenLite.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.0/easing/EasePack.min.js"></script>

            <script type='text/javascript' src='resources/scripts/bg-animation.js'></script>

        </div> 
        <!-- /wrapper -->
    <script src="static/script.js" language="JavaScript"></script>     <!-- referencement de notre fichier javascript  -->
<!-- les balises script ci dessous servent à importer le javascript pour bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD" crossorigin="anonymous"></script>
<!-- balise script pour implementer des icones -->
    <script src="https://kit.fontawesome.com/2a4e5e0bd5.js" crossorigin="anonymous"></script>
  </body>
</html>